@model IEnumerable<BicycleShop.Models.Bicycle>
@{
    ViewData["Title"] = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>  |  </th> 
            <th>Brand</th>
            <th>  |  </th>
            <th>Price</th>
            <th>  |  </th>
            <th>Class</th>
            <th>  |  </th>
            <th>Wheels</th>
            <th>  |  </th>
            <th>Frame</th>
            <th>  |  </th>
            <th>Color</th>
            <th>  |  </th>
            <th>Year of issue</th>
            <th>  |  </th>
            <th>Saddle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bicycle in Model)
        {
            <tr>
                <td>@bicycle.Title</td>
                <th>|</th>
                <td>@bicycle.Brand</td>
                <th>|</th>
                <td>@bicycle.Price</td>
                <th>|</th>
                <td>@bicycle.Class</td>
                <th>|</th>
                <td>@bicycle.Wheels</td>
                <th>|</th>
                <td>@bicycle.Frame</td>
                <th>|</th>
                <td>@bicycle.Color</td>
                <th>|</th>
                <td>@bicycle.YearOfIssue</td>
                <th>|</th>
                <td>@bicycle.Saddle</td>
            </tr>
        }
    </tbody>
</table>
